:root{
    --carmim: #F82167;
    --red: #F53232;
    --green: #35CC30;
    --blue: #428DD3;
    --pink: #E053A1;
    --gray-900: #2C2C2C;
    --gray-700: #4E4E4E;
    --gray-600: #6E6E6E;
    --gray-300: #A9A9A9;
    --gray-100: #ECECEC;
    --ice: #FEFEFE;
    --white: #fff;
}